.course {
    text-align: center;
    padding: 20px;
}

.course h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.coursebox {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.module {
    cursor: pointer;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.explanation {
    text-align: left;
}

.module-content {
    display: none;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 24px;
}

.content {
    max-width: 800px ;
    margin: 20px auto;
    padding: 20px ;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

ol {
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #bfbfbf;
    color: #fff;
    
}
.interface-description {
    margin-bottom: 20px;
}